/WebApplicationX/nbproject/private/
/WebApplicationX/dist/
/WebApplicationX/build/
/WebApplicationValidate/nbproject/private/
/WebApplicationValidate/dist/
/WebApplicationValidate/build/
/Examen O.o/nbproject/private/
/Examen O.o/build/
/Examen O.o/dist/