/WebApplicationX/nbproject/private/
/WebApplicationX/dist/
/WebApplicationX/build/
/WebApplicationValidate/nbproject/private/
/WebApplicationValidate/dist/
/WebApplicationValidate/build/
/Examen O.o/nbproject/private/
/Examen O.o/build/
/Examen O.o/dist/
/WebApplicationAJAX/nbproject/private/
/WebApplicationAJAX/dist/
/WebApplicationAJAX/build/
/ProyectoAlpha/ProyectoAlpha-master/build/
/ProyectoAlpha/ProyectoAlpha-master/nbproject/private/