/WebApplicationX/nbproject/private/
/WebApplicationX/dist/
/WebApplicationX/build/
/WebApplicationValidate/nbproject/private/
/WebApplicationValidate/dist/
/WebApplicationValidate/build/
/Examen O.o/nbproject/private/
/Examen O.o/build/
/Examen O.o/dist/
/WebApplicationAJAX/nbproject/private/
/WebApplicationAJAX/dist/
/WebApplicationAJAX/build/
/ProyectoAlpha/ProyectoAlpha-master/build/
/ProyectoAlpha/ProyectoAlpha-master/nbproject/private/
/practicaAJAX/nbproject/private/
/practicaAJAX/build/
/practicaAJAX/dist/
/WebApplicationXML/nbproject/private/
/WebApplicationXML/build/
/WebApplicationXML/dist/
/WebApplicationJSON/nbproject/private/
/WebApplicationJSON/dist/
/WebApplicationJSON/build/
/AJAX&JSON&DB/nbproject/private/
/AJAX&JSON&DB/dist/
/AJAX&JSON&DB/build/
/WebApplicationNoFuncionoAJAXJSONDB/nbproject/private/
/WebApplicationNoFuncionoAJAXJSONDB/build/
/WebApplicationNoFuncionoAJAXJSONDB/dist/
/MyWebService/nbproject/private/
/MyWebService/build/
/MyWebService/dist/
/MyWebServiceClient/nbproject/private/
/MyWebServiceClient/build/
/WebServiceClient/nbproject/private/
/WebServiceClient/build/
/WebServiceClient/dist/
/CalculadoraWeb/nbproject/private/
/CalculadoraWeb/build/
/CalculadoraWeb/dist/
/ClienteCalculadora/nbproject/private/
/ClienteCalculadora/build/
/JavaXMLParser/nbproject/private/
/Braille/nbproject/private/
/Braille/build/
/Braille/dist/
/JavaXMLParser/build/
/RESTfulWebServices/nbproject/private/
/RESTfulWebServices/build/
/RESTfulWebServices/dist/
/JavaRESTfulClient/nbproject/private/
/JavaRESTfulClient/build/
/WebRESTfulClient/nbproject/private/
/WebRESTfulClient/build/
/WebRESTfulClient/dist/
/PruebaSOAP/nbproject/private/
/PruebaSOAP/build/
/CurrencyRESTfulWEBSeRvIcE/CurrencyRESTfulWEBSeRvIcE/build/
/CurrencyRESTfulWEBSeRvIcE/CurrencyRESTfulWEBSeRvIcE/dist/
/CurrencyRESTfulWEBSeRvIcE/CurrencyRESTfulWEBSeRvIcE/nbproject/private/
/CurrencyWebClient/CurrencyWebClient/build/
/CurrencyWebClient/CurrencyWebClient/dist/
/CurrencyWebClient/CurrencyWebClient/nbproject/private/
/Jms/nbproject/private/
/Jms/build/
/Jms/dist/
/JmsTopic/nbproject/private/
/JmsTopic/dist/
/JmsTopic/build/
/JmsTopicsBolsaValores/nbproject/private/
/JmsTopicsBolsaValores/build/
/JmsTopicsBolsaValores/dist/